In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('./survey_results_public.csv')

In [3]:
df2=df.select_dtypes(include='object')
df3=df.select_dtypes(include=['float','int'])
df3['Professional'] =df['Professional']
df3['Country']=df['Country']

<ipython-input-3-7614cf2fa348>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Professional'] =df['Professional']
<ipython-input-3-7614cf2fa348>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Country']=df['Country']

In [4]:
df3.columns

Index(['CareerSatisfaction', 'JobSatisfaction', 'HoursPerWeek',
       'StackOverflowSatisfaction', 'Salary', 'ExpectedSalary', 'Professional',
       'Country'],
      dtype='object')

In [5]:
df3.pivot_table(index=['Professional'])
## non numeric columns are skipped in the colujns section

,CareerSatisfaction,ExpectedSalary,HoursPerWeek,JobSatisfaction,Salary,StackOverflowSatisfaction
Professional,,,,,,
None of these,6.205797,NaN,4.852174,NaN,NaN,8.106667
Professional developer,7.454832,NaN,3.484288,7.048795,58341.398571,8.407563
Professional non-developer who sometimes writes code,6.796128,NaN,3.747911,6.666872,NaN,8.210526
Student,6.000000,32231.521687,4.397059,NaN,NaN,8.268902
Used to be a professional developer,6.899713,NaN,5.478571,6.625000,NaN,7.786290

In [6]:
df3.pivot_table(index=['Professional','Country'])
## Default mean of columns

                                                          CareerSatisfaction  \
Professional                        Country
None of these                       Afghanistan                     6.000000
                                    Aland Islands                   7.500000
                                    Albania                         8.000000
                                    Algeria                         9.000000
                                    Argentina                       6.600000
...                                                                      ...
Used to be a professional developer Ukraine                         6.000000
                                    United Arab Emirates            6.000000
                                    United Kingdom                  6.454545
                                    United States                   7.287500
                                    Uruguay                         9.000000

                                                          ExpectedSalary  \
Professional                        Country
None of these                       Afghanistan                      NaN
                                    Aland Islands                    NaN
                                    Albania                          NaN
                                    Algeria                          NaN
                                    Argentina                        NaN
...                                                                  ...
Used to be a professional developer Ukraine                          NaN
                                    United Arab Emirates             NaN
                                    United Kingdom                   NaN
                                    United States                    NaN
                                    Uruguay                          NaN

                                                          HoursPerWeek  \
Professional                        Country
None of these                       Afghanistan              20.000000
                                    Aland Islands            39.000000
                                    Albania                   2.000000
                                    Algeria                        NaN
                                    Argentina                 1.000000
...                                                                ...
Used to be a professional developer Ukraine                   1.000000
                                    United Arab Emirates           NaN
                                    United Kingdom            2.312500
                                    United States             4.323529
                                    Uruguay                   2.000000

                                                          JobSatisfaction  \
Professional                        Country
None of these                       Afghanistan                       NaN
                                    Aland Islands                     NaN
                                    Albania                           NaN
                                    Algeria                           NaN
                                    Argentina                         NaN
...                                                                   ...
Used to be a professional developer Ukraine                      5.000000
                                    United Arab Emirates         6.000000
                                    United Kingdom               6.470588
                                    United States                6.620690
                                    Uruguay                      8.000000

                                                          Salary  \
Professional                        Country
None of these                       Afghanistan              NaN
                                    Aland Islands            NaN
                                    Albania                  NaN
                                    Algeria                  NaN
                                    Argentina                NaN
...                                                          ...
Used to be a professional developer Ukraine                  NaN
                                    United Arab Emirates     NaN
                                    United Kingdom           NaN
                                    United States            NaN
                                    Uruguay                  NaN

                                                          StackOverflowSatisfaction
Professional                        Country
None of these                       Afghanistan                                 NaN
                                    Aland Islands                          1.000000
                                    Albania                               10.000000
                                    Algeria                                     NaN
                                    Argentina                              9.000000
...                                                                             ...
Used to be a professional developer Ukraine                                9.000000
                                    United Arab Emirates                        NaN
                                    United Kingdom                         7.727273
                                    United States                          7.555556
                                    Uruguay                                9.000000

[494 rows x 6 columns]

In [7]:
df3.pivot_table(index=['Professional','Country'],columns=['CareerSatisfaction'])
## CareerSatisfaction is treated like categories #Rest columns are averaged

                                                                ExpectedSalary  \
CareerSatisfaction                                                        8.0
Professional                        Country
None of these                       Afghanistan                            NaN
                                    Aland Islands                          NaN
                                    Albania                                NaN
                                    Argentina                              NaN
                                    Armenia                                NaN
...                                                                        ...
Used to be a professional developer Tunisia                                NaN
                                    Ukraine                                NaN
                                    United Arab Emirates                   NaN
                                    Uruguay                                NaN
                                    Ivory Coast (Cote D'Ivoire)            NaN

                                                                HoursPerWeek  \
CareerSatisfaction                                                      0.0
Professional                        Country
None of these                       Afghanistan                          NaN
                                    Aland Islands                        NaN
                                    Albania                              NaN
                                    Argentina                            NaN
                                    Armenia                              NaN
...                                                                      ...
Used to be a professional developer Tunisia                              NaN
                                    Ukraine                              NaN
                                    United Arab Emirates                 NaN
                                    Uruguay                              NaN
                                    Ivory Coast (Cote D'Ivoire)          NaN

                                                                           \
CareerSatisfaction                                              1.0  2.0
Professional                        Country
None of these                       Afghanistan                  NaN  NaN
                                    Aland Islands                NaN  NaN
                                    Albania                      NaN  NaN
                                    Argentina                    NaN  NaN
                                    Armenia                      NaN  NaN
...                                                              ...  ...
Used to be a professional developer Tunisia                      NaN  NaN
                                    Ukraine                      NaN  NaN
                                    United Arab Emirates         NaN  NaN
                                    Uruguay                      NaN  NaN
                                    Ivory Coast (Cote D'Ivoire)  NaN  NaN

                                                                           \
CareerSatisfaction                                              3.0  4.0
Professional                        Country
None of these                       Afghanistan                  NaN  NaN
                                    Aland Islands                NaN  NaN
                                    Albania                      NaN  NaN
                                    Argentina                    NaN  NaN
                                    Armenia                      NaN  NaN
...                                                              ...  ...
Used to be a professional developer Tunisia                      NaN  NaN
                                    Ukraine                      NaN  NaN
                                    United Arab Emirates         NaN  NaN
                                    Uruguay                      NaN  NaN
                                    Ivory Coast (Cote D'Ivoire)  NaN  NaN

                                                                            \
CareerSatisfaction                                              5.0   6.0
Professional                        Country
None of these                       Afghanistan                  NaN  20.0
                                    Aland Islands                NaN   NaN
                                    Albania                      NaN   NaN
                                    Argentina                    NaN   NaN
                                    Armenia                      NaN   NaN
...                                                              ...   ...
Used to be a professional developer Tunisia                      NaN   NaN
                                    Ukraine                      NaN   1.0
                                    United Arab Emirates         NaN   NaN
                                    Uruguay                      NaN   NaN
                                    Ivory Coast (Cote D'Ivoire)  NaN   NaN

                                                                           \
CareerSatisfaction                                              7.0  8.0
Professional                        Country
None of these                       Afghanistan                  NaN  NaN
                                    Aland Islands                NaN  NaN
                                    Albania                      NaN  2.0
                                    Argentina                    0.0  2.0
                                    Armenia                      NaN  NaN
...                                                              ...  ...
Used to be a professional developer Tunisia                      NaN  NaN
                                    Ukraine                      NaN  NaN
                                    United Arab Emirates         NaN  NaN
                                    Uruguay                      NaN  NaN
                                    Ivory Coast (Cote D'Ivoire)  NaN  NaN

                                                                 ...  \
CareerSatisfaction                                               ...
Professional                        Country                      ...
None of these                       Afghanistan                  ...
                                    Aland Islands                ...
                                    Albania                      ...
                                    Argentina                    ...
                                    Armenia                      ...
...                                                              ...
Used to be a professional developer Tunisia                      ...
                                    Ukraine                      ...
                                    United Arab Emirates         ...
                                    Uruguay                      ...
                                    Ivory Coast (Cote D'Ivoire)  ...

                                                                StackOverflowSatisfaction  \
CareerSatisfaction                                                                   1.0
Professional                        Country
None of these                       Afghanistan                                       NaN
                                    Aland Islands                                     NaN
                                    Albania                                           NaN
                                    Argentina                                         NaN
                                    Armenia                                           NaN
...                                                                                   ...
Used to be a professional developer Tunisia                                           NaN
                                    Ukraine                                           NaN
                                    United Arab Emirates                              NaN
                                    Uruguay                                           NaN
                                    Ivory Coast (Cote D'Ivoire)                       NaN

                                                                            \
CareerSatisfaction                                              2.0   3.0
Professional                        Country
None of these                       Afghanistan                  NaN   NaN
                                    Aland Islands                NaN   NaN
                                    Albania                      NaN   NaN
                                    Argentina                    NaN   NaN
                                    Armenia                      NaN   NaN
...                                                              ...   ...
Used to be a professional developer Tunisia                      NaN   NaN
                                    Ukraine                      NaN   NaN
                                    United Arab Emirates         NaN   NaN
                                    Uruguay                      NaN   NaN
                                    Ivory Coast (Cote D'Ivoire)  NaN  10.0

                                                                            \
CareerSatisfaction                                              4.0   5.0
Professional                        Country
None of these                       Afghanistan                  NaN   NaN
                                    Aland Islands                NaN   NaN
                                    Albania                      NaN   NaN
                                    Argentina                    NaN   NaN
                                    Armenia                      NaN  10.0
...                                                              ...   ...
Used to be a professional developer Tunisia                      NaN   NaN
                                    Ukraine                      NaN   NaN
                                    United Arab Emirates         NaN   NaN
                                    Uruguay                      NaN   NaN
                                    Ivory Coast (Cote D'Ivoire)  NaN   NaN

                                                                           \
CareerSatisfaction                                              6.0  7.0
Professional                        Country
None of these                       Afghanistan                  NaN  NaN
                                    Aland Islands                NaN  NaN
                                    Albania                      NaN  NaN
                                    Argentina                    NaN  NaN
                                    Armenia                      NaN  NaN
...                                                              ...  ...
Used to be a professional developer Tunisia                      NaN  NaN
                                    Ukraine                      9.0  NaN
                                    United Arab Emirates         NaN  NaN
                                    Uruguay                      NaN  NaN
                                    Ivory Coast (Cote D'Ivoire)  NaN  NaN

                                                                            \
CareerSatisfaction                                               8.0  9.0
Professional                        Country
None of these                       Afghanistan                   NaN  NaN
                                    Aland Islands                 NaN  NaN
                                    Albania                      10.0  NaN
                                    Argentina                     9.0  NaN
                                    Armenia                       NaN  NaN
...                                                               ...  ...
Used to be a professional developer Tunisia                       NaN  8.0
                                    Ukraine                       NaN  NaN
                                    United Arab Emirates          NaN  NaN
                                    Uruguay                       NaN  9.0
                                    Ivory Coast (Cote D'Ivoire)   NaN  NaN


CareerSatisfaction                                              10.0
Professional                        Country
None of these                       Afghanistan                  NaN
                                    Aland Islands                1.0
                                    Albania                      NaN
                                    Argentina                    NaN
                                    Armenia                      NaN
...                                                              ...
Used to be a professional developer Tunisia                      NaN
                                    Ukraine                      NaN
                                    United Arab Emirates         NaN
                                    Uruguay                      NaN
                                    Ivory Coast (Cote D'Ivoire)  NaN

[374 rows x 45 columns]

In [8]:
df3.pivot_table(index=['Professional','Country'],columns=['CareerSatisfaction'],values=['HoursPerWeek'])
## CareerSatisfaction is treated like categories # select only columns specified in values

                                                    HoursPerWeek            \
CareerSatisfaction                                          0.0  1.0  2.0
Professional                        Country
None of these                       Afghanistan              NaN  NaN  NaN
                                    Aland Islands            NaN  NaN  NaN
                                    Albania                  NaN  NaN  NaN
                                    Argentina                NaN  NaN  NaN
                                    Australia                0.0  NaN  NaN
...                                                          ...  ...  ...
Used to be a professional developer Slovak Republic          NaN  NaN  NaN
                                    Switzerland              NaN  NaN  NaN
                                    Taiwan                   NaN  NaN  NaN
                                    Ukraine                  NaN  NaN  NaN
                                    Uruguay                  NaN  NaN  NaN

                                                                               \
CareerSatisfaction                                  3.0  4.0  5.0   6.0  7.0
Professional                        Country
None of these                       Afghanistan      NaN  NaN  NaN  20.0  NaN
                                    Aland Islands    NaN  NaN  NaN   NaN  NaN
                                    Albania          NaN  NaN  NaN   NaN  NaN
                                    Argentina        NaN  NaN  NaN   NaN  0.0
                                    Australia        0.0  NaN  NaN   NaN  NaN
...                                                  ...  ...  ...   ...  ...
Used to be a professional developer Slovak Republic  2.0  NaN  NaN   NaN  NaN
                                    Switzerland      NaN  NaN  NaN   NaN  1.0
                                    Taiwan           NaN  NaN  NaN   NaN  2.0
                                    Ukraine          NaN  NaN  NaN   1.0  NaN
                                    Uruguay          NaN  NaN  NaN   NaN  NaN


CareerSatisfaction                                  8.0  9.0   10.0
Professional                        Country
None of these                       Afghanistan      NaN  NaN   NaN
                                    Aland Islands    NaN  NaN  39.0
                                    Albania          2.0  NaN   NaN
                                    Argentina        2.0  NaN   NaN
                                    Australia        NaN  NaN   NaN
...                                                  ...  ...   ...
Used to be a professional developer Slovak Republic  NaN  NaN   NaN
                                    Switzerland      NaN  1.0   NaN
                                    Taiwan           NaN  NaN   NaN
                                    Ukraine          NaN  NaN   NaN
                                    Uruguay          NaN  2.0   NaN

[298 rows x 11 columns]

In [9]:
df3.pivot_table(index=['Professional','Country'],columns=['CareerSatisfaction'],values=['HoursPerWeek'],aggfunc=np.mean)
## CareerSatisfaction is treated like categories # select only columns specified in values

                                                    HoursPerWeek            \
CareerSatisfaction                                          0.0  1.0  2.0
Professional                        Country
None of these                       Afghanistan              NaN  NaN  NaN
                                    Aland Islands            NaN  NaN  NaN
                                    Albania                  NaN  NaN  NaN
                                    Argentina                NaN  NaN  NaN
                                    Australia                0.0  NaN  NaN
...                                                          ...  ...  ...
Used to be a professional developer Slovak Republic          NaN  NaN  NaN
                                    Switzerland              NaN  NaN  NaN
                                    Taiwan                   NaN  NaN  NaN
                                    Ukraine                  NaN  NaN  NaN
                                    Uruguay                  NaN  NaN  NaN

                                                                               \
CareerSatisfaction                                  3.0  4.0  5.0   6.0  7.0
Professional                        Country
None of these                       Afghanistan      NaN  NaN  NaN  20.0  NaN
                                    Aland Islands    NaN  NaN  NaN   NaN  NaN
                                    Albania          NaN  NaN  NaN   NaN  NaN
                                    Argentina        NaN  NaN  NaN   NaN  0.0
                                    Australia        0.0  NaN  NaN   NaN  NaN
...                                                  ...  ...  ...   ...  ...
Used to be a professional developer Slovak Republic  2.0  NaN  NaN   NaN  NaN
                                    Switzerland      NaN  NaN  NaN   NaN  1.0
                                    Taiwan           NaN  NaN  NaN   NaN  2.0
                                    Ukraine          NaN  NaN  NaN   1.0  NaN
                                    Uruguay          NaN  NaN  NaN   NaN  NaN


CareerSatisfaction                                  8.0  9.0   10.0
Professional                        Country
None of these                       Afghanistan      NaN  NaN   NaN
                                    Aland Islands    NaN  NaN  39.0
                                    Albania          2.0  NaN   NaN
                                    Argentina        2.0  NaN   NaN
                                    Australia        NaN  NaN   NaN
...                                                  ...  ...   ...
Used to be a professional developer Slovak Republic  NaN  NaN   NaN
                                    Switzerland      NaN  1.0   NaN
                                    Taiwan           NaN  NaN   NaN
                                    Ukraine          NaN  NaN   NaN
                                    Uruguay          NaN  2.0   NaN

[298 rows x 11 columns]

In [10]:
df_sum=df3.pivot_table(index=['Professional','Country'],columns=['CareerSatisfaction'],values=['HoursPerWeek'],aggfunc=np.sum)
## CareerSatisfaction is treated like categories # select only columns specified in values # instead of mean calculate sum
df_sum
#df_sum.loc['Professional developer']

                                                                HoursPerWeek  \
CareerSatisfaction                                                      0.0
Professional                        Country
None of these                       Afghanistan                          NaN
                                    Aland Islands                        NaN
                                    Albania                              NaN
                                    Algeria                              NaN
                                    Argentina                            NaN
...                                                                      ...
Used to be a professional developer Trinidad and Tobago                  NaN
                                    Tunisia                              NaN
                                    Ukraine                              NaN
                                    Uruguay                              NaN
                                    Ivory Coast (Cote D'Ivoire)          NaN

                                                                           \
CareerSatisfaction                                              1.0  2.0
Professional                        Country
None of these                       Afghanistan                  NaN  NaN
                                    Aland Islands                NaN  NaN
                                    Albania                      NaN  NaN
                                    Algeria                      NaN  NaN
                                    Argentina                    NaN  NaN
...                                                              ...  ...
Used to be a professional developer Trinidad and Tobago          NaN  NaN
                                    Tunisia                      NaN  NaN
                                    Ukraine                      NaN  NaN
                                    Uruguay                      NaN  NaN
                                    Ivory Coast (Cote D'Ivoire)  NaN  NaN

                                                                           \
CareerSatisfaction                                              3.0  4.0
Professional                        Country
None of these                       Afghanistan                  NaN  NaN
                                    Aland Islands                NaN  NaN
                                    Albania                      NaN  NaN
                                    Algeria                      NaN  NaN
                                    Argentina                    0.0  NaN
...                                                              ...  ...
Used to be a professional developer Trinidad and Tobago          NaN  NaN
                                    Tunisia                      NaN  NaN
                                    Ukraine                      NaN  NaN
                                    Uruguay                      NaN  NaN
                                    Ivory Coast (Cote D'Ivoire)  0.0  NaN

                                                                            \
CareerSatisfaction                                              5.0   6.0
Professional                        Country
None of these                       Afghanistan                  NaN  20.0
                                    Aland Islands                0.0   NaN
                                    Albania                      NaN   NaN
                                    Algeria                      NaN   NaN
                                    Argentina                    NaN   NaN
...                                                              ...   ...
Used to be a professional developer Trinidad and Tobago          0.0   NaN
                                    Tunisia                      NaN   NaN
                                    Ukraine                      NaN   1.0
                                    Uruguay                      NaN   NaN
                                    Ivory Coast (Cote D'Ivoire)  NaN   NaN

                                                                           \
CareerSatisfaction                                              7.0  8.0
Professional                        Country
None of these                       Afghanistan                  NaN  NaN
                                    Aland Islands                NaN  NaN
                                    Albania                      NaN  2.0
                                    Algeria                      NaN  NaN
                                    Argentina                    0.0  2.0
...                                                              ...  ...
Used to be a professional developer Trinidad and Tobago          NaN  NaN
                                    Tunisia                      NaN  NaN
                                    Ukraine                      NaN  NaN
                                    Uruguay                      NaN  NaN
                                    Ivory Coast (Cote D'Ivoire)  NaN  NaN


CareerSatisfaction                                              9.0   10.0
Professional                        Country
None of these                       Afghanistan                  NaN   NaN
                                    Aland Islands                NaN  39.0
                                    Albania                      NaN   NaN
                                    Algeria                      0.0   NaN
                                    Argentina                    NaN   NaN
...                                                              ...   ...
Used to be a professional developer Trinidad and Tobago          NaN   NaN
                                    Tunisia                      0.0   NaN
                                    Ukraine                      NaN   NaN
                                    Uruguay                      2.0   NaN
                                    Ivory Coast (Cote D'Ivoire)  NaN   NaN

[387 rows x 11 columns]

In [11]:
df_sum.loc['Professional developer']

                     HoursPerWeek                                         \
CareerSatisfaction           0.0  1.0   2.0  3.0  4.0   5.0   6.0   7.0
Country
Afghanistan                   NaN  NaN   NaN  0.0  NaN   0.0   2.0   0.0
Aland Islands                 NaN  NaN   NaN  NaN  0.0   NaN   NaN   0.0
Albania                       NaN  NaN   NaN  0.0  NaN   0.0   0.0   7.0
Algeria                       0.0  NaN   NaN  0.0  NaN   0.0   NaN   1.0
Argentina                    24.0  NaN   NaN  NaN  0.0   3.0   8.0  56.0
...                           ...  ...   ...  ...  ...   ...   ...   ...
Vietnam                       NaN  NaN  11.0  0.0  NaN  11.0  14.0   0.0
Virgin Islands (USA)          NaN  NaN   NaN  NaN  NaN   NaN   NaN   NaN
Zaire                         NaN  NaN   NaN  NaN  NaN   NaN   NaN   NaN
Zambia                        NaN  NaN   NaN  NaN  NaN   NaN   NaN   NaN
Zimbabwe                      NaN  NaN   NaN  NaN  NaN   0.0   NaN   NaN


CareerSatisfaction    8.0   9.0   10.0
Country
Afghanistan            0.0   NaN   0.0
Aland Islands          NaN   NaN   NaN
Albania               10.0   0.0  42.0
Algeria                0.0   0.0   0.0
Argentina             13.0  29.0  13.0
...                    ...   ...   ...
Vietnam                5.0   1.0   1.0
Virgin Islands (USA)   NaN   NaN   6.0
Zaire                  5.0   NaN   NaN
Zambia                 0.0   NaN   NaN
Zimbabwe               1.0   NaN   NaN

[149 rows x 11 columns]

In [12]:
print(type(df_sum.index))
print("Multi INdex is a tuple of columns")
df_sum.index

<class 'pandas.core.indexes.multi.MultiIndex'>
Multi INdex is a tuple of columns

MultiIndex([(                      'None of these', ...),
            (                      'None of these', ...),
            (                      'None of these', ...),
            (                      'None of these', ...),
            (                      'None of these', ...),
            (                      'None of these', ...),
            (                      'None of these', ...),
            (                      'None of these', ...),
            (                      'None of these', ...),
            (                      'None of these', ...),
            ...
            ('Used to be a professional developer', ...),
            ('Used to be a professional developer', ...),
            ('Used to be a professional developer', ...),
            ('Used to be a professional developer', ...),
            ('Used to be a professional developer', ...),
            ('Used to be a professional developer', ...),
            ('Used to be a professional developer', ...),
            ('Used to be a professional developer', ...),
            ('Used to be a professional developer', ...),
            ('Used to be a professional developer', ...)],
           names=['Professional', 'Country'], length=387)

In [13]:
## You can use first field in the tuple to get the second field
df_sum.loc['Professional developer'].index

Index(['Afghanistan', 'Aland Islands', 'Albania', 'Algeria', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Belgium', 'Brazil',
       ...
       'Uganda', 'Ukraine', 'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam',
       'Virgin Islands (USA)', 'Zaire', 'Zambia', 'Zimbabwe'],
      dtype='object', name='Country', length=149)

In [14]:
print("Columns is also multi-index tuple")
df_sum.columns

Columns is also multi-index tuple

MultiIndex([('HoursPerWeek',  0.0),
            ('HoursPerWeek',  1.0),
            ('HoursPerWeek',  2.0),
            ('HoursPerWeek',  3.0),
            ('HoursPerWeek',  4.0),
            ('HoursPerWeek',  5.0),
            ('HoursPerWeek',  6.0),
            ('HoursPerWeek',  7.0),
            ('HoursPerWeek',  8.0),
            ('HoursPerWeek',  9.0),
            ('HoursPerWeek', 10.0)],
           names=[None, 'CareerSatisfaction'])

In [15]:
df4=df3.pivot_table(index=['Professional','Country'],columns=['CareerSatisfaction'],values=['HoursPerWeek'],aggfunc=np.mean)
df4

                                                    HoursPerWeek            \
CareerSatisfaction                                          0.0  1.0  2.0
Professional                        Country
None of these                       Afghanistan              NaN  NaN  NaN
                                    Aland Islands            NaN  NaN  NaN
                                    Albania                  NaN  NaN  NaN
                                    Argentina                NaN  NaN  NaN
                                    Australia                0.0  NaN  NaN
...                                                          ...  ...  ...
Used to be a professional developer Slovak Republic          NaN  NaN  NaN
                                    Switzerland              NaN  NaN  NaN
                                    Taiwan                   NaN  NaN  NaN
                                    Ukraine                  NaN  NaN  NaN
                                    Uruguay                  NaN  NaN  NaN

                                                                               \
CareerSatisfaction                                  3.0  4.0  5.0   6.0  7.0
Professional                        Country
None of these                       Afghanistan      NaN  NaN  NaN  20.0  NaN
                                    Aland Islands    NaN  NaN  NaN   NaN  NaN
                                    Albania          NaN  NaN  NaN   NaN  NaN
                                    Argentina        NaN  NaN  NaN   NaN  0.0
                                    Australia        0.0  NaN  NaN   NaN  NaN
...                                                  ...  ...  ...   ...  ...
Used to be a professional developer Slovak Republic  2.0  NaN  NaN   NaN  NaN
                                    Switzerland      NaN  NaN  NaN   NaN  1.0
                                    Taiwan           NaN  NaN  NaN   NaN  2.0
                                    Ukraine          NaN  NaN  NaN   1.0  NaN
                                    Uruguay          NaN  NaN  NaN   NaN  NaN


CareerSatisfaction                                  8.0  9.0   10.0
Professional                        Country
None of these                       Afghanistan      NaN  NaN   NaN
                                    Aland Islands    NaN  NaN  39.0
                                    Albania          2.0  NaN   NaN
                                    Argentina        2.0  NaN   NaN
                                    Australia        NaN  NaN   NaN
...                                                  ...  ...   ...
Used to be a professional developer Slovak Republic  NaN  NaN   NaN
                                    Switzerland      NaN  1.0   NaN
                                    Taiwan           NaN  NaN   NaN
                                    Ukraine          NaN  NaN   NaN
                                    Uruguay          NaN  2.0   NaN

[298 rows x 11 columns]

In [16]:
df4.loc['Professional developer']

                     HoursPerWeek                                      \
CareerSatisfaction           0.0  1.0   2.0  3.0       4.0       5.0
Country
Afghanistan                   NaN  NaN   NaN  NaN       NaN       NaN
Albania                       NaN  NaN   NaN  NaN       NaN       NaN
Argentina                    24.0  NaN   NaN  NaN       NaN  1.500000
Australia                     0.5  NaN   4.0  1.0  2.428571  2.000000
Austria                       NaN  3.0   6.0  2.0  0.000000  2.428571
...                           ...  ...   ...  ...       ...       ...
Venezuela                     NaN  NaN  20.0  NaN       NaN       NaN
Vietnam                       NaN  NaN  11.0  NaN       NaN  5.500000
Virgin Islands (USA)          NaN  NaN   NaN  NaN       NaN       NaN
Zaire                         NaN  NaN   NaN  NaN       NaN       NaN
Zimbabwe                      NaN  NaN   NaN  NaN       NaN       NaN


CareerSatisfaction        6.0       7.0        8.0   9.0        10.0
Country
Afghanistan           1.000000       NaN        NaN   NaN   0.000000
Albania               0.000000  3.500000  10.000000   NaN  10.500000
Argentina             2.000000  6.222222   1.444444  7.25   3.250000
Australia             1.764706  1.000000   1.538462  1.90   1.600000
Austria               1.000000  1.000000   1.400000  9.60   5.857143
...                        ...       ...        ...   ...        ...
Venezuela                  NaN  2.000000   6.000000   NaN   1.000000
Vietnam               3.500000       NaN   2.500000  1.00   1.000000
Virgin Islands (USA)       NaN       NaN        NaN   NaN   6.000000
Zaire                      NaN       NaN   5.000000   NaN        NaN
Zimbabwe                   NaN       NaN   1.000000   NaN        NaN

[130 rows x 11 columns]

In [17]:
df4.loc['Professional developer'].loc['Australia']

              CareerSatisfaction
HoursPerWeek  0.0                   0.500000
              1.0                        NaN
              2.0                   4.000000
              3.0                   1.000000
              4.0                   2.428571
              5.0                   2.000000
              6.0                   1.764706
              7.0                   1.000000
              8.0                   1.538462
              9.0                   1.900000
              10.0                  1.600000
Name: Australia, dtype: float64

In [18]:
df4.columns

MultiIndex([('HoursPerWeek',  0.0),
            ('HoursPerWeek',  1.0),
            ('HoursPerWeek',  2.0),
            ('HoursPerWeek',  3.0),
            ('HoursPerWeek',  4.0),
            ('HoursPerWeek',  5.0),
            ('HoursPerWeek',  6.0),
            ('HoursPerWeek',  7.0),
            ('HoursPerWeek',  8.0),
            ('HoursPerWeek',  9.0),
            ('HoursPerWeek', 10.0)],
           names=[None, 'CareerSatisfaction'])

In [19]:
# set of aggregation functions for all columns
df5=df3.pivot_table(index=['Professional','Country'],columns=['CareerSatisfaction'],values=['HoursPerWeek','Salary'],aggfunc=[np.sum,np.mean])
df5

                                                                  sum       \
                                                         HoursPerWeek
CareerSatisfaction                                               0.0  1.0
Professional                        Country
None of these                       Afghanistan                   NaN  NaN
                                    Aland Islands                 NaN  NaN
                                    Albania                       NaN  NaN
                                    Algeria                       NaN  NaN
                                    Argentina                     NaN  NaN
...                                                               ...  ...
Used to be a professional developer Ukraine                       NaN  NaN
                                    United Arab Emirates          NaN  NaN
                                    United Kingdom                9.0  NaN
                                    United States                 NaN  1.0
                                    Uruguay                       NaN  NaN

                                                                          \

CareerSatisfaction                                       2.0   3.0  4.0
Professional                        Country
None of these                       Afghanistan           NaN   NaN  NaN
                                    Aland Islands         NaN   NaN  NaN
                                    Albania               NaN   NaN  NaN
                                    Algeria               NaN   NaN  NaN
                                    Argentina             NaN   0.0  NaN
...                                                       ...   ...  ...
Used to be a professional developer Ukraine               NaN   NaN  NaN
                                    United Arab Emirates  NaN   NaN  NaN
                                    United Kingdom        NaN  12.0  NaN
                                    United States         8.0  14.0  4.0
                                    Uruguay               NaN   NaN  NaN

                                                                            \

CareerSatisfaction                                        5.0   6.0   7.0
Professional                        Country
None of these                       Afghanistan            NaN  20.0   NaN
                                    Aland Islands          0.0   NaN   NaN
                                    Albania                NaN   NaN   NaN
                                    Algeria                NaN   NaN   NaN
                                    Argentina              NaN   NaN   0.0
...                                                        ...   ...   ...
Used to be a professional developer Ukraine                NaN   1.0   NaN
                                    United Arab Emirates   NaN   0.0   NaN
                                    United Kingdom         NaN   1.0   7.0
                                    United States         11.0  46.0  26.0
                                    Uruguay                NaN   NaN   NaN

                                                                     ...  \
                                                                     ...
CareerSatisfaction                                        8.0  9.0   ...
Professional                        Country                          ...
None of these                       Afghanistan            NaN  NaN  ...
                                    Aland Islands          NaN  NaN  ...
                                    Albania                2.0  NaN  ...
                                    Algeria                NaN  0.0  ...
                                    Argentina              2.0  NaN  ...
...                                                        ...  ...  ...
Used to be a professional developer Ukraine                NaN  NaN  ...
                                    United Arab Emirates   NaN  NaN  ...
                                    United Kingdom         2.0  1.0  ...
                                    United States         17.0  7.0  ...
                                    Uruguay                NaN  2.0  ...

                                                           mean            \
                                                         Salary
CareerSatisfaction                                         1.0  2.0  3.0
Professional                        Country
None of these                       Afghanistan             NaN  NaN  NaN
                                    Aland Islands           NaN  NaN  NaN
                                    Albania                 NaN  NaN  NaN
                                    Algeria                 NaN  NaN  NaN
                                    Argentina               NaN  NaN  NaN
...                                                         ...  ...  ...
Used to be a professional developer Ukraine                 NaN  NaN  NaN
                                    United Arab Emirates    NaN  NaN  NaN
                                    United Kingdom          NaN  NaN  NaN
                                    United States           NaN  NaN  NaN
                                    Uruguay                 NaN  NaN  NaN

                                                                              \

CareerSatisfaction                                       4.0  5.0  6.0  7.0
Professional                        Country
None of these                       Afghanistan           NaN  NaN  NaN  NaN
                                    Aland Islands         NaN  NaN  NaN  NaN
                                    Albania               NaN  NaN  NaN  NaN
                                    Algeria               NaN  NaN  NaN  NaN
                                    Argentina             NaN  NaN  NaN  NaN
...                                                       ...  ...  ...  ...
Used to be a professional developer Ukraine               NaN  NaN  NaN  NaN
                                    United Arab Emirates  NaN  NaN  NaN  NaN
                                    United Kingdom        NaN  NaN  NaN  NaN
                                    United States         NaN  NaN  NaN  NaN
                                    Uruguay               NaN  NaN  NaN  NaN



CareerSatisfaction                                       8.0  9.0  10.0
Professional                        Country
None of these                       Afghanistan           NaN  NaN  NaN
                                    Aland Islands         NaN  NaN  NaN
                                    Albania               NaN  NaN  NaN
                                    Algeria               NaN  NaN  NaN
                                    Argentina             NaN  NaN  NaN
...                                                       ...  ...  ...
Used to be a professional developer Ukraine               NaN  NaN  NaN
                                    United Arab Emirates  NaN  NaN  NaN
                                    United Kingdom        NaN  NaN  NaN
                                    United States         NaN  NaN  NaN
                                    Uruguay               NaN  NaN  NaN

[387 rows x 44 columns]

In [20]:
df5.loc['Professional developer'].loc['United States']

                    CareerSatisfaction
sum   HoursPerWeek  0.0                   1.700000e+01
                    1.0                   5.000000e+01
                    2.0                   4.600000e+01
                    3.0                   1.060000e+02
                    4.0                   1.820000e+02
                    5.0                   3.500000e+02
                    6.0                   4.470000e+02
                    7.0                   7.180000e+02
                    8.0                   9.780000e+02
                    9.0                   4.830000e+02
                    10.0                  4.620000e+02
      Salary        0.0                   4.845010e+05
                    1.0                   5.250000e+04
                    2.0                   2.980000e+05
                    3.0                   1.464768e+06
                    4.0                   2.858380e+06
                    5.0                   5.747890e+06
                    6.0                   1.102889e+07
                    7.0                   2.885359e+07
                    8.0                   4.475416e+07
                    9.0                   2.724621e+07
                    10.0                  2.218542e+07
mean  HoursPerWeek  0.0                   2.428571e+00
                    1.0                   1.666667e+01
                    2.0                   6.571429e+00
                    3.0                   4.608696e+00
                    4.0                   4.789474e+00
                    5.0                   4.545455e+00
                    6.0                   3.955752e+00
                    7.0                   2.338762e+00
                    8.0                   2.679452e+00
                    9.0                   2.528796e+00
                    10.0                  3.500000e+00
      Salary        0.0                   9.690020e+04
                    1.0                   5.250000e+04
                    2.0                   7.450000e+04
                    3.0                   9.154800e+04
                    4.0                   8.932438e+04
                    5.0                   8.708924e+04
                    6.0                   9.040072e+04
                    7.0                   9.617864e+04
                    8.0                   9.989768e+04
                    9.0                   1.028159e+05
                    10.0                  1.056449e+05
Name: United States, dtype: float64

In [21]:

df5.columns

MultiIndex([( 'sum', 'HoursPerWeek',  0.0),
            ( 'sum', 'HoursPerWeek',  1.0),
            ( 'sum', 'HoursPerWeek',  2.0),
            ( 'sum', 'HoursPerWeek',  3.0),
            ( 'sum', 'HoursPerWeek',  4.0),
            ( 'sum', 'HoursPerWeek',  5.0),
            ( 'sum', 'HoursPerWeek',  6.0),
            ( 'sum', 'HoursPerWeek',  7.0),
            ( 'sum', 'HoursPerWeek',  8.0),
            ( 'sum', 'HoursPerWeek',  9.0),
            ( 'sum', 'HoursPerWeek', 10.0),
            ( 'sum',       'Salary',  0.0),
            ( 'sum',       'Salary',  1.0),
            ( 'sum',       'Salary',  2.0),
            ( 'sum',       'Salary',  3.0),
            ( 'sum',       'Salary',  4.0),
            ( 'sum',       'Salary',  5.0),
            ( 'sum',       'Salary',  6.0),
            ( 'sum',       'Salary',  7.0),
            ( 'sum',       'Salary',  8.0),
            ( 'sum',       'Salary',  9.0),
            ( 'sum',       'Salary', 10.0),
            ('mean', 'HoursPerWeek',  0.0),
            ('mean', 'HoursPerWeek',  1.0),
            ('mean', 'HoursPerWeek',  2.0),
            ('mean', 'HoursPerWeek',  3.0),
            ('mean', 'HoursPerWeek',  4.0),
            ('mean', 'HoursPerWeek',  5.0),
            ('mean', 'HoursPerWeek',  6.0),
            ('mean', 'HoursPerWeek',  7.0),
            ('mean', 'HoursPerWeek',  8.0),
            ('mean', 'HoursPerWeek',  9.0),
            ('mean', 'HoursPerWeek', 10.0),
            ('mean',       'Salary',  0.0),
            ('mean',       'Salary',  1.0),
            ('mean',       'Salary',  2.0),
            ('mean',       'Salary',  3.0),
            ('mean',       'Salary',  4.0),
            ('mean',       'Salary',  5.0),
            ('mean',       'Salary',  6.0),
            ('mean',       'Salary',  7.0),
            ('mean',       'Salary',  8.0),
            ('mean',       'Salary',  9.0),
            ('mean',       'Salary', 10.0)],
           names=[None, None, 'CareerSatisfaction'])

In [22]:
df5.loc['Professional developer'].loc['United States'][( 'sum', 'HoursPerWeek',  9.0)]
## [(aggregation,value,pivoted_column)]

483.0

In [23]:
#one agregation function for each column
df6=df3.pivot_table(index=['Professional','Country'],columns=['CareerSatisfaction'],aggfunc={'HoursPerWeek':np.mean,'Salary':np.mean})
df6

                                                    HoursPerWeek            \
CareerSatisfaction                                          0.0  1.0  2.0
Professional                        Country
None of these                       Afghanistan              NaN  NaN  NaN
                                    Aland Islands            NaN  NaN  NaN
                                    Albania                  NaN  NaN  NaN
                                    Argentina                NaN  NaN  NaN
                                    Australia                0.0  NaN  NaN
...                                                          ...  ...  ...
Used to be a professional developer Slovak Republic          NaN  NaN  NaN
                                    Switzerland              NaN  NaN  NaN
                                    Taiwan                   NaN  NaN  NaN
                                    Ukraine                  NaN  NaN  NaN
                                    Uruguay                  NaN  NaN  NaN

                                                                               \
CareerSatisfaction                                  3.0  4.0  5.0   6.0  7.0
Professional                        Country
None of these                       Afghanistan      NaN  NaN  NaN  20.0  NaN
                                    Aland Islands    NaN  NaN  NaN   NaN  NaN
                                    Albania          NaN  NaN  NaN   NaN  NaN
                                    Argentina        NaN  NaN  NaN   NaN  0.0
                                    Australia        0.0  NaN  NaN   NaN  NaN
...                                                  ...  ...  ...   ...  ...
Used to be a professional developer Slovak Republic  2.0  NaN  NaN   NaN  NaN
                                    Switzerland      NaN  NaN  NaN   NaN  1.0
                                    Taiwan           NaN  NaN  NaN   NaN  2.0
                                    Ukraine          NaN  NaN  NaN   1.0  NaN
                                    Uruguay          NaN  NaN  NaN   NaN  NaN

                                                               ... Salary  \
CareerSatisfaction                                  8.0  9.0   ...   1.0
Professional                        Country                    ...
None of these                       Afghanistan      NaN  NaN  ...    NaN
                                    Aland Islands    NaN  NaN  ...    NaN
                                    Albania          2.0  NaN  ...    NaN
                                    Argentina        2.0  NaN  ...    NaN
                                    Australia        NaN  NaN  ...    NaN
...                                                  ...  ...  ...    ...
Used to be a professional developer Slovak Republic  NaN  NaN  ...    NaN
                                    Switzerland      NaN  1.0  ...    NaN
                                    Taiwan           NaN  NaN  ...    NaN
                                    Ukraine          NaN  NaN  ...    NaN
                                    Uruguay          NaN  2.0  ...    NaN

                                                                              \
CareerSatisfaction                                  2.0  3.0  4.0  5.0  6.0
Professional                        Country
None of these                       Afghanistan      NaN  NaN  NaN  NaN  NaN
                                    Aland Islands    NaN  NaN  NaN  NaN  NaN
                                    Albania          NaN  NaN  NaN  NaN  NaN
                                    Argentina        NaN  NaN  NaN  NaN  NaN
                                    Australia        NaN  NaN  NaN  NaN  NaN
...                                                  ...  ...  ...  ...  ...
Used to be a professional developer Slovak Republic  NaN  NaN  NaN  NaN  NaN
                                    Switzerland      NaN  NaN  NaN  NaN  NaN
                                    Taiwan           NaN  NaN  NaN  NaN  NaN
                                    Ukraine          NaN  NaN  NaN  NaN  NaN
                                    Uruguay          NaN  NaN  NaN  NaN  NaN


CareerSatisfaction                                  7.0  8.0  9.0  10.0
Professional                        Country
None of these                       Afghanistan      NaN  NaN  NaN  NaN
                                    Aland Islands    NaN  NaN  NaN  NaN
                                    Albania          NaN  NaN  NaN  NaN
                                    Argentina        NaN  NaN  NaN  NaN
                                    Australia        NaN  NaN  NaN  NaN
...                                                  ...  ...  ...  ...
Used to be a professional developer Slovak Republic  NaN  NaN  NaN  NaN
                                    Switzerland      NaN  NaN  NaN  NaN
                                    Taiwan           NaN  NaN  NaN  NaN
                                    Ukraine          NaN  NaN  NaN  NaN
                                    Uruguay          NaN  NaN  NaN  NaN

[301 rows x 22 columns]

In [24]:
df6.loc['Professional developer'].loc['United States']
## I took np.mean for all columns

              CareerSatisfaction
HoursPerWeek  0.0                        2.428571
              1.0                       16.666667
              2.0                        6.571429
              3.0                        4.608696
              4.0                        4.789474
              5.0                        4.545455
              6.0                        3.955752
              7.0                        2.338762
              8.0                        2.679452
              9.0                        2.528796
              10.0                       3.500000
Salary        0.0                    96900.200000
              1.0                    52500.000000
              2.0                    74500.000000
              3.0                    91548.000000
              4.0                    89324.375000
              5.0                    87089.242424
              6.0                    90400.721311
              7.0                    96178.643333
              8.0                    99897.678571
              9.0                   102815.886792
              10.0                  105644.857143
Name: United States, dtype: float64

In [25]:
df6.loc['Professional developer'].loc['United States'][('HoursPerWeek',1.0)]
# tuple is the column

16.666666666666668

In [26]:
df6.loc['Professional developer'].loc['United States'][('Salary',9.0)]

102815.88679245283



* Pivot reshapes values of a column into a multiple column list 
* pivot needs aggregation functions
* single row for each index

* MELT - Opposite of PIVOT

* converts reshapes combines/groups multiple columns unde one column as values

In [27]:
df6

                                                    HoursPerWeek            \
CareerSatisfaction                                          0.0  1.0  2.0
Professional                        Country
None of these                       Afghanistan              NaN  NaN  NaN
                                    Aland Islands            NaN  NaN  NaN
                                    Albania                  NaN  NaN  NaN
                                    Argentina                NaN  NaN  NaN
                                    Australia                0.0  NaN  NaN
...                                                          ...  ...  ...
Used to be a professional developer Slovak Republic          NaN  NaN  NaN
                                    Switzerland              NaN  NaN  NaN
                                    Taiwan                   NaN  NaN  NaN
                                    Ukraine                  NaN  NaN  NaN
                                    Uruguay                  NaN  NaN  NaN

                                                                               \
CareerSatisfaction                                  3.0  4.0  5.0   6.0  7.0
Professional                        Country
None of these                       Afghanistan      NaN  NaN  NaN  20.0  NaN
                                    Aland Islands    NaN  NaN  NaN   NaN  NaN
                                    Albania          NaN  NaN  NaN   NaN  NaN
                                    Argentina        NaN  NaN  NaN   NaN  0.0
                                    Australia        0.0  NaN  NaN   NaN  NaN
...                                                  ...  ...  ...   ...  ...
Used to be a professional developer Slovak Republic  2.0  NaN  NaN   NaN  NaN
                                    Switzerland      NaN  NaN  NaN   NaN  1.0
                                    Taiwan           NaN  NaN  NaN   NaN  2.0
                                    Ukraine          NaN  NaN  NaN   1.0  NaN
                                    Uruguay          NaN  NaN  NaN   NaN  NaN

                                                               ... Salary  \
CareerSatisfaction                                  8.0  9.0   ...   1.0
Professional                        Country                    ...
None of these                       Afghanistan      NaN  NaN  ...    NaN
                                    Aland Islands    NaN  NaN  ...    NaN
                                    Albania          2.0  NaN  ...    NaN
                                    Argentina        2.0  NaN  ...    NaN
                                    Australia        NaN  NaN  ...    NaN
...                                                  ...  ...  ...    ...
Used to be a professional developer Slovak Republic  NaN  NaN  ...    NaN
                                    Switzerland      NaN  1.0  ...    NaN
                                    Taiwan           NaN  NaN  ...    NaN
                                    Ukraine          NaN  NaN  ...    NaN
                                    Uruguay          NaN  2.0  ...    NaN

                                                                              \
CareerSatisfaction                                  2.0  3.0  4.0  5.0  6.0
Professional                        Country
None of these                       Afghanistan      NaN  NaN  NaN  NaN  NaN
                                    Aland Islands    NaN  NaN  NaN  NaN  NaN
                                    Albania          NaN  NaN  NaN  NaN  NaN
                                    Argentina        NaN  NaN  NaN  NaN  NaN
                                    Australia        NaN  NaN  NaN  NaN  NaN
...                                                  ...  ...  ...  ...  ...
Used to be a professional developer Slovak Republic  NaN  NaN  NaN  NaN  NaN
                                    Switzerland      NaN  NaN  NaN  NaN  NaN
                                    Taiwan           NaN  NaN  NaN  NaN  NaN
                                    Ukraine          NaN  NaN  NaN  NaN  NaN
                                    Uruguay          NaN  NaN  NaN  NaN  NaN


CareerSatisfaction                                  7.0  8.0  9.0  10.0
Professional                        Country
None of these                       Afghanistan      NaN  NaN  NaN  NaN
                                    Aland Islands    NaN  NaN  NaN  NaN
                                    Albania          NaN  NaN  NaN  NaN
                                    Argentina        NaN  NaN  NaN  NaN
                                    Australia        NaN  NaN  NaN  NaN
...                                                  ...  ...  ...  ...
Used to be a professional developer Slovak Republic  NaN  NaN  NaN  NaN
                                    Switzerland      NaN  NaN  NaN  NaN
                                    Taiwan           NaN  NaN  NaN  NaN
                                    Ukraine          NaN  NaN  NaN  NaN
                                    Uruguay          NaN  NaN  NaN  NaN

[301 rows x 22 columns]

In [28]:
from sklearn.datasets import load_iris
iris=load_iris()

iris_df=pd.DataFrame(iris.data,columns=iris.feature_names)
iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [29]:
## Each row to 
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [30]:
iris_df.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [31]:
## Each row corresponds to one data point
## Lets arrange data point vertically like Key-Value style
# row index is not preserved
iris_df.melt(value_vars=iris_df.columns)

              variable  value
0    sepal length (cm)    5.1
1    sepal length (cm)    4.9
2    sepal length (cm)    4.7
3    sepal length (cm)    4.6
4    sepal length (cm)    5.0
..                 ...    ...
595   petal width (cm)    2.3
596   petal width (cm)    1.9
597   petal width (cm)    2.0
598   petal width (cm)    2.3
599   petal width (cm)    1.8

[600 rows x 2 columns]

In [32]:
iris_df.melt(value_vars=iris_df.columns).sort_index()

              variable  value
0    sepal length (cm)    5.1
1    sepal length (cm)    4.9
2    sepal length (cm)    4.7
3    sepal length (cm)    4.6
4    sepal length (cm)    5.0
..                 ...    ...
595   petal width (cm)    2.3
596   petal width (cm)    1.9
597   petal width (cm)    2.0
598   petal width (cm)    2.3
599   petal width (cm)    1.8

[600 rows x 2 columns]

In [33]:
iris_reset=iris_df.reset_index()
# creates a new index column
iris_reset

,index,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
0,0,5.1,3.5,1.4,0.2
1,1,4.9,3.0,1.4,0.2
2,2,4.7,3.2,1.3,0.2
3,3,4.6,3.1,1.5,0.2
4,4,5.0,3.6,1.4,0.2
...,...,...,...,...,...
145,145,6.7,3.0,5.2,2.3
146,146,6.3,2.5,5.0,1.9
147,147,6.5,3.0,5.2,2.0
148,148,6.2,3.4,5.4,2.3
149,149,5.9,3.0,5.1,1.8

In [34]:
# Specify row identifier in id_vars
iris_reset.melt(id_vars=['index'],value_vars=iris_df.columns).sort_values(['index'])

     index           variable  value
0        0  sepal length (cm)    5.1
150      0   sepal width (cm)    3.5
450      0   petal width (cm)    0.2
300      0  petal length (cm)    1.4
151      1   sepal width (cm)    3.0
..     ...                ...    ...
148    148  sepal length (cm)    6.2
299    149   sepal width (cm)    3.0
149    149  sepal length (cm)    5.9
449    149  petal length (cm)    5.1
599    149   petal width (cm)    1.8

[600 rows x 3 columns]

In [35]:
iris_reset.melt(id_vars=['index'],value_vars=iris_df.columns,value_name='New',var_name='Attributes').sort_values(['index'])

     index         Attributes  New
0        0  sepal length (cm)  5.1
150      0   sepal width (cm)  3.5
450      0   petal width (cm)  0.2
300      0  petal length (cm)  1.4
151      1   sepal width (cm)  3.0
..     ...                ...  ...
148    148  sepal length (cm)  6.2
299    149   sepal width (cm)  3.0
149    149  sepal length (cm)  5.9
449    149  petal length (cm)  5.1
599    149   petal width (cm)  1.8

[600 rows x 3 columns]

In [36]:
iris_melt=iris_reset.melt(id_vars=['index']).sort_values(['index'])
iris_melt

     index           variable  value
0        0  sepal length (cm)    5.1
150      0   sepal width (cm)    3.5
450      0   petal width (cm)    0.2
300      0  petal length (cm)    1.4
151      1   sepal width (cm)    3.0
..     ...                ...    ...
148    148  sepal length (cm)    6.2
299    149   sepal width (cm)    3.0
149    149  sepal length (cm)    5.9
449    149  petal length (cm)    5.1
599    149   petal width (cm)    1.8

[600 rows x 3 columns]

In [37]:
iris_melt.pivot_table(index=['index'],columns=['variable'],values=['value'])

                     value
variable petal length (cm) petal width (cm) sepal length (cm) sepal width (cm)
index
0                      1.4              0.2               5.1              3.5
1                      1.4              0.2               4.9              3.0
2                      1.3              0.2               4.7              3.2
3                      1.5              0.2               4.6              3.1
4                      1.4              0.2               5.0              3.6
...                    ...              ...               ...              ...
145                    5.2              2.3               6.7              3.0
146                    5.0              1.9               6.3              2.5
147                    5.2              2.0               6.5              3.0
148                    5.4              2.3               6.2              3.4
149                    5.1              1.8               5.9              3.0

[150 rows x 4 columns]

In [38]:
iris_melt.pivot_table(index=['index'],columns=['variable'],values=['value']).columns

MultiIndex([('value', 'petal length (cm)'),
            ('value',  'petal width (cm)'),
            ('value', 'sepal length (cm)'),
            ('value',  'sepal width (cm)')],
           names=[None, 'variable'])